<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Studio Web & Applications</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="navbar">
    <a href="/">Accueil</a>
    <a href="/services">Mes services</a>
    <a href="/parcours">Mon parcours professionnel</a>
    <a href="/contact">Contact</a>
    <a href="/panier">Panier</a>
</nav>

<img src="{{ url_for('static', filename='images/banniere_msedit.png') }}" class="banniere">

<div class="contenu">

<img src="{{ url_for('static', filename='images/logo_msedit.png') }}" class="logo">

<h2>Contact</h2>

<p class="slogan">
Vous souhaitez créer un site internet ou une application ?
</p>

<section class="contact">

<form>

<label>Nom et prénom</label><br>
<input type="text" style="width:400px;"><br><br>

<label>Adresse e-mail</label><br>
<input type="email" style="width:400px;"><br><br>

<label>Téléphone</label><br>
<input type="text" style="width:400px;"><br><br>

<label>Décrivez votre projet</label><br>

<textarea rows="8" style="width:600px;"></textarea>

<br><br>

<button type="submit">
Envoyer ma demande
</button>

</form>

<br><br>

<p>
📧 studio.web.applications@gmail.com
</p>

</section>

<footer>

    <div class="footer-contenu">

        <p>
            © 2026 Studio Web & Applications - Tous droits réservés.
        </p>

    </div>

</footer>

</div>
</body>

</html>
