<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Studio Web & Applications</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="navbar">
    <a href="/">Accueil</a>
    <a href="/services">Mes services</a>
    <a href="/realisations">Mes réalisations sur mesure</a>
    <a href="/contact">Contact</a>
    <a href="/panier">Panier</a>
</nav>

<div class="contenu" id="accueil">

    <img src="{{ url_for('static', filename='images/banniere_msedit.png') }}" alt="Bannière Studio Web" class="banniere">

<img src="{{ url_for('static', filename='images/logo_msedit.png') }}" class="logo">

<h2>Contact</h2>

<p class="slogan">
Vous souhaitez créer un site internet ou une application ?
</p>

<section class="contact">

<div class="contact-form">

<h3>Parlons de votre projet</h3>

<p>
Décrivez votre besoin. Je vous recontacterai rapidement afin d'étudier votre projet et de vous proposer une solution adaptée.
</p>

<form>

<label>Nom et prénom</label>
<input type="text">

<label>Adresse e-mail</label>
<input type="email">

<label>Téléphone (facultatif)</label>
<input type="text">

<label>Décrivez votre projet</label>

<textarea rows="8"></textarea>

<button type="submit">
Demander un devis
</button>

</form>

</div>

<br><br>

<p>
📧 studio.web.applications@gmail.com
</p>

<br><br>

<br><br>

<br><br>
    
</section>

<footer>

    <div class="footer-contenu">

        <p>
            © 2026 Studio Web & Applications - Tous droits réservés.
        </p>

    </div>

</footer>

</div>
</body>

</html>
