<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark">
    <meta name="theme-color" content="#000000">

    <title>Studio Web & Applications</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="navbar">
    <a href="/services">Mes services</a>
    <a href="/parcours">Mon parcours</a>
    <a href="/contact">Contact</a>
    <a href="/panier">Panier</a>
</nav>

<div class="contenu" id="accueil">

    <img src="{{ url_for('static', filename='images/banniere_msedit.png') }}" alt="Bannière Studio Web" class="banniere">

    <img src="{{ url_for('static', filename='images/logo_msedit.png') }}" alt="Logo Studio Web" class="logo">

    <h2>Studio Web & Applications</h2>

    <p class="slogan">
        Des solutions numériques pensées pour développer votre activité.
    </p>

<section class="presentation">

<p>
Développeuse indépendante, j'accompagne les artisans, commerçants,
professions libérales et petites entreprises dans leur transformation
numérique.

Je conçois des sites internet professionnels, des applications web,
des applications mobiles ainsi que des outils métiers adaptés à chaque activité.
</p>

<p>
Mon objectif est de créer des solutions simples, modernes et efficaces,
permettant à mes clients de gagner du temps, d'améliorer leur image
et de développer leur entreprise grâce à des outils numériques sur mesure.
</p>
<br><br>

<br><br>

<br><br>

</section>

<footer>

    <div class="footer-contenu">

        <p>
            © 2026 Studio Web & Applications - Tous droits réservés.
        </p>

    </div>

</footer>

</div>
</body>

</html>
