<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark">
    <meta name="theme-color" content="#000000">
    
    <title>Studio - web - applications</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    
<nav class="navbar">
    <a href="/services">Mes services</a>
    <a href="/parcours">Mon parcours professionnel</a>
    <a href="/contact">Contact</a>
    <a href="/panier">Panier</a>
</nav>
    
    <img src="{{ url_for('static', filename='images/banniere_msedit.png') }}" alt="Bannière M.S Édit" class="banniere">

    <div class="contenu" id="accueil">

        <h2>Services aux professionnels</h2>

        <p class="slogan">
        Parce qu'aucun indépendant ne devrait avancer seul.
    </p>

<section class="presentation">

    <h2>Qui suis-je ?</h2>

    <p>
        Studio Web & Applications

        J'accompagne les indépendants, entrepreneurs et petites entreprises dans leur 
        développement numérique.
        Je conçois des sites internet professionnels, des applications mobiles et des outils métier 
        sur mesure adaptés aux besoins réels de votre activité.
        
        Que vous souhaitiez renforcer votre présence en ligne, automatiser certaines tâches 
        ou disposer d'une application spécifique à votre métier, 
        nous développons des solutions simples, efficaces et accessibles.
            
    </p>

</section>

</div>
</body>

</html>
