<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon parcours professionnel - M.S Édit</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="navbar">
    <a href="/">Accueil</a>
    <a href="/services">Mes services</a>
    <a href="/parcours">Mon parcours professionnel</a>
    <a href="/contact">Contact</a>
    <a href="/panier">Panier</a>
</nav>

<img src="{{ url_for('static', filename='images/banniere-msedit.png') }}" alt="Bannière M.S Édit" class="banniere">

<div class="contenu">

    <img src="{{ url_for('static', filename='images/logo-msedit.png') }}" alt="Logo M.S Édit" class="logo">

    <h1>Mon parcours d'auteure</h1>

    <p>
        Autto entrepreneur ayant plusieurs caquettes. J'ai commencé par le services administratif aux entreprises 
        et indépendants.
        Services de comptabilité, de facturation etc
        J'ai ensuite décidé de créer mon propre site web, un besoin indispensable d'avoir un site à mon image.
        J'ai fait ceux de mes connaissances et ensuite, je me suis lancée dans la création pour les pros.
        D fil en aiguille, j'ai attaqué les applications mobiles métier. 
    </p>

    <p>
        Cette expérience me permet aujourd'hui d'accompagner les indépendants dans la modernisation de leurs outils de travail
        et de personnaliser leur besoins.
    </p>

   
</div>

</body>
</html>
